* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gotham";
  color: #062261;
}
header {
  background-color: #062261;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  position: relative;
}

.logo {
  width: 148px;
  height: auto;
}

.navbar {
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  text-wrap: nowrap;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #d819ff;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.right-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}
.burger span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .burger {
    display: flex; /* показываем бургер */
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 210px;
    background: #062261;
    padding: 10px 15px;
    border-radius: 8px;
    gap: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .navbar.active {
    display: flex;
  }
  .logo {
    width: 100px;
  }
}

@media (max-width: 350px) {
  .logo {
    width: 70px;
  }
  .navbar {
    left: 80px;
    width: 110px;
  }
  .navbar a {
    font-size: 13px;
  }
  
  button{
    width: 150px;
  }
}

.hero-section {
  background-color: #030e32;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.main {
  width: 567px;
  height: 123px;
  margin-bottom: 18px;
  text-align: center;
}
h1 {
  font-size: 51px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}
.hero-section h4 {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 53px;
}
button {
  background: #d819ff;
  color: #ffffff;
  width: 355px;
  height: 71px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 21px;
}

@media (max-width: 768px) {
  .main {
    width: 450px;
  }
  button {
    width: 250px;
  }
}
@media (max-width: 350px) {
  .main {
    width: 250px;
    height: 90px;
    padding-left: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
  }
  h1 {
    font-size: 35px;
  }
  .hero-section h4 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  button {
    font-size: 20px;
    width: 200px;
  }
}
.section-1 {
  padding: 54px 0;
}

.bottom-block {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  max-width: 186px;
}

.square {
  width: 110px;
  height: 110px;
  background-color: #d9d9d9;
  margin-bottom: 48px;
}

.mini {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #062261;
  padding: 0px;
}
.mini {
  font-size: 16px;
}
.section-2 {
  background: #062261;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    margin-left: 40px;
    width: 150px;
  }
  .square {
    width: 80px;
    height: 80px;
    margin-bottom: 35px;
  }
}
@media (max-width: 350px) {
  .item {
    margin-left: 10px;
  }
  .square {
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
  }
  .mini {
    font-size: 10px;
  }
}

.section-2 div {
  max-width: 713px;
}
.first {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 37px;
}

@media (max-width: 768px) {
  .first {
    margin-left: 10px;
  }
}
@media (max-width: 350px) {
  .first {
    font-size: 25px;
    margin-left: 10px;
  }
  .change {
    height: 60px;
    font-size: 15px;
  }
}

.section-3 {
  padding: 80px 20px;
  /* padding: 81px, 146px, 114px, 96px; */
  background: #fff;
}

.inside {
  max-width: 1127px;
  margin: 0 auto;
}

.second {
  font-size: 32px;
  font-weight: 700;
  color: #062261;
  text-align: center;
  line-height: 1.3;
  max-width: 713px;
  margin: 0 auto 24px;
}

/* Подзаголовок */
.center {
  display: block;
  font-size: 16px;
  color: #062261;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.6;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.Lorem {
  flex: 1;
}

.third {
  font-size: 24px;
  font-weight: 700;
  color: #12306b;
  margin-bottom: 20px;
  line-height: 1.3;
}

.max {
  display: block;
  font-size: 16px;
  line-height: 1.7;
  color: #062261;
}

.gray {
  width: 500px;
  height: 380px;
  background-color: #d9d9d9;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .center {
    padding-right: 20px;
  }
  .box {
    padding-right: 30px;
  }
  .title {
    font-size: 15px;
  }
  .max {
    font-size: 13px;
  }
  .gray {
    width: 330px;
    height: 300px;
  }
}
@media (max-width: 350px) {
  .section-3{
    padding: 80px 0;
  }
  center {
    padding-right: 10px;
  }
  .box {
    gap: 30px;
    padding-right: 15px;
  }
  .title {
    font-size: 10px;
  }
  .max {
    font-size: 8px;
  }
  .gray {
    width: 180px;
    height: 350px;
  }
}
.section-4 {
  background-color: #062261;
  padding-top: 102px;
  padding-bottom: 128px;
}
.warp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 118px;
  max-width: 1143px;
  margin: 0 auto;
  color: #fff;
}
.graybox {
  width: 474px;
  height: 369px;
  background: #d9d9d9;
}
.fourth {
  font-size: 40px;
  margin-bottom: 34px;
}
.middle {
  width: 551px;
  display: block;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .warp {
    padding-right: 30px;
    padding-left: 10px;
    gap: 30px;
  }
  .graybox {
    width: 310px;
    height: 330px;
  }
  .fourth {
    margin-bottom: 20px;
  }
  .middle {
    width: 350px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .first {
    font-size: 25px;
    margin-left: 10px;
  }
  .fourth{
    margin-bottom: 10px;
    font-size: 20px;
  }
  .change {
    height: 60px;
    font-size: 15px;
  }
  .middle{
    width: 150px;
    font-size: 10px;
  }
  .graybox {
    width: 110px;
    height: 330px;
  }
}
.section-5 {
  padding-top: 97px;
  padding-bottom: 86px;
}
.sec5 {
  display: flex;
  align-items: center;
  gap: 118px;
  max-width: 1164px;
  gap: 61px;
  margin: 0 auto;
}
.thirdbox {
  background-color: #d9d9d9;
  width: 540px;
  height: 414px;
}
.infor {
  max-width: 593px;
}
.post {
  font-weight: 325;
  font-size: 18px;
  margin-bottom: 45px;
}
.additional {
  font-weight: 325;
  font-size: 13px;
  margin-bottom: 21px;
}
.additionalinfor {
  font-weight: 325;
  font-size: 13px;
}

@media (max-width: 768px) {
  .infor {
    width: 450px;
  }
  .post {
    font-size: 15px;
    margin-bottom: 18px;
  }
  .additional {
    margin-bottom: 17px;
  }
  .thirdbox {
    width: 400px;
    height: 310px;
  }
}
@media (max-width: 350px) {
  .infor {
    width: 210px;
  }
  .post {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .additional {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .additionalinfor {
    font-size: 7px;
  }
  .thirdbox {
    width: 190px;
    height: 250px;
  }
}
.section-6 {
  background-image: url("./photo/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.difficult {
  max-width: 1250px; /* ограничиваем ширину */
  margin: 0 auto; /* выравниваем по центру */
  padding: 0 48px; /* отступы слева и справа ВНУТРИ */
  display: flex;
  gap: 280px;
}

.question {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  margin-top: 98px;
  margin-bottom: 39px;
}
.term {
  font-weight: 700;
  font-size: 18px;
  width: 531px;
}
.diagrams {
  display: flex;
  flex-direction: row;
  gap: 31px;
}
.diagram {
  width: 127px;
  height: 296px;
  background: linear-gradient(
    180deg,
    #d819ff 7.69%,
    #da1ef4 8.36%,
    #e02dd5 9.71%,
    #e438bb 11.73%,
    #e842a8 13.76%,
    #ea489a 16.45%,
    #ec4c91 19.15%,
    #ec4d8f 24.55%,
    rgba(240, 87, 122, 0) 75.12%
  );
  opacity: 30%;
}
.diagrams div:first-child {
  margin-top: 142px;
}
.diagrams div:nth-child(2) {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .difficult {
    gap: 90px;
    padding-bottom: 50px;
  }
  .question {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .term {
    width: 280px;
  }
  .diagrams {
    gap: 15px;
  }
  .diagram {
    width: 90px;
    height: 200px;
  }
}
@media (max-width: 350px) {
  .difficult {
    gap: 35px;
    padding-left: 10px;
    padding-bottom: 80px;
  }
  .question {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .term {
    font-size: 12px;
    width: 150px;
  }
  .diagrams {
    gap: 8px;
  }
  .diagram {
    width: 30px;
    height: 200px;
  }
}
footer {
  background-color: #030e32;
  color: #ffffff;
  padding: 40px 180px;
  line-height: 1.6;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-and-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo img {
  width: 78px;
  height: 35px;
}

.nav-links {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.4s;
  text-wrap: nowrap;
}

.nav-links li a:hover {
  color: #aaaaaa;
}

.subscribe {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.subscribe h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  text-wrap: nowrap;
}

.input-group {
  position: absolute;
  top: 4357px;
  left: 814px;
  width: 470px;
  height: 71px;
  opacity: 1;
}

.input-group input {
  width: 100%;
  height: 100%;
  padding-right: 180px; /* пространство под кнопку */
  padding-left: 20px;
  background-color: #1a2d57;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.input-group input::placeholder {
  color: #b0bcd6;
}

.input-group button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 170.67px;
  height: 61px;
  background: linear-gradient(135deg, #d335ff, #7f00ff);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
}

.input-group button:hover {
  background: linear-gradient(135deg, #b300e6, #6600cc);
}

.divider {
  border: 0;
  height: 1px;
  background-color: #062261;
  margin: 30px 0;
}

.footer-middle {
  color: #c9d1e0;
  font-size: 14px;
  margin-bottom: 30px;
  width: 494px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.copyright {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}
.paragraph {
  padding-left: 20px;
  padding-right: 20px;
}

.big {
  width: 120px;
  height: 80px;
}
@media (max-width: 768px) {
  footer {
    padding: 40px 70px;
  }
  .first {
    font-size: 25px;
    margin-left: 10px;
  }
  .footer-top{
    flex-direction: column;
  }
  .input-group{
    position: static;
    width: 400px;
  }
  .input-group button{
    top: 40px;
    right: 105px;
    width: 100px;
    height: 63px;
  }
  .footer-bottom{
    align-items: center;
  }
  
}
@media (max-width: 350px) {
  footer {
    padding: 40px 10px;
  }
  .nav-links{
    width: 300px;
  }
  .subscribe h4{
    font-size: 13px;
  }
  .first {
    font-size: 25px;
    margin-left: 10px;
  }
  .input-group{
    padding-right: 10px;
    width: 300px;
  }
  .input-group button{
    top: 35px;
        right: 2px;
        width: 80px;
        font-size: 10px;
  }
  .footer-middle{
    width: 300px;
  }
  
}
@media (max-width: 350px) {
  .paragraph {
    padding-left: 20px;
    padding-right: 20px;
  }
}
