@font-face {
    font-family: 'Gotham';               /* любое название */
    src: url('./GOTHAM-BLACK.TTF') format('truetype'),
         url('./GOTHAM-MEDIUM.TTF') format('truetype');
    font-weight: 400;                    /* обычный вес */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./GOTHAM-BOLD.TTF') format('truetype');
    font-weight: 700;                    /* жирный */
    font-style: normal;
  }
  